# Byte-compiled / optimized / DLL files
spack*
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ROOT files
*.root

# Editors
*~
.vimlocal

# Distribution / packaging
.Python
build/
install/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Output
outputs/
BatchOutputs/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Benchmarking
benchmark*json

# Local configuration
.fccana/*

# Graphviz graphs
*.dot
*.png
examples/FCCee/flavour/B2Inv/plots/

#jupyter checkpoints
*.ipynb_checkpoints

#other files
examples/FCCee/flavour/B2Inv/st1_submission.log
examples/FCCee/flavour/B2Inv/roc_n_roll.pdf
examples/FCCee/flavour/B2Inv/first_pass_at_BDTh/bdt.json
examples/FCCee/flavour/B2Inv/first_pass_at_BDTh/bdth.pdf
examples/FCCee/flavour/B2Inv/first_pass_at_BDTh/eff.pdf
examples/FCCee/flavour/B2Inv/first_pass_at_BDTh/roc.pdf
examples/FCCee/flavour/B2Inv/demo1.pdf
examples/FCCee/flavour/B2Inv/demo1bb.pdf
examples/FCCee/flavour/B2Inv/background_analysis/excel_sheets/Bhadron_background_analysis_p8_ee_Zbb_ecm91_bdtcut0-99965_allBhads_inclplots.xlsx
examples/FCCee/flavour/B2Inv/background_analysis/excel_sheets/Bhadron_background_analysis_p8_ee_Zcc_ecm91_bdtcut0-99965.xlsx
examples/FCCee/flavour/B2Inv/background_analysis/excel_sheets/Zss_background_analysis_p8_ee_Zud_ecm91_bdtcut0-99965.xlsx
examples/FCCee/flavour/B2Inv/background_analysis/excel_sheets/Zss_background_analysis_p8_ee_Zss_ecm91_bdtcut0-99965.xlsx
